* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 80px;
    background-color: #ffffff;
}

nav {
    max-width: 1000px;
    margin: 0 auto;
}

main {
    height: calc(100vh - (80px + 60px));
    background-color: #7fffd4;
    position: relative;
}

#grid-container {
    width: 300px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.grid-main {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.grid-sec {
    background-color: #00ffff;
}

footer {
    height: 60px;
    background-color: #ffffff;
}

.footer-bar {
    max-width: 1000px;
    margin: 0 auto;
}